<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>游小伴隐私协议</title>
    <style>
      .agreement .title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="agreement">
      <h1 class="title">隐私协议</h1>
      <pre>
尊敬的游小伴用户：
欢迎您使用游小伴软件及服务，游小伴服务平台非常重视对您的个人隐私保护，我们将按照本规则收集、使用、共享和保护您的个人信息。对于本规则中与您的权益存在重大关系的条款，我们已将字体加粗以提示您注意。当您浏览、访问游小伴服务平台或使用游小伴服务平台的产品或服务时，即表示您已经同意我们按照本规则来收集、使用、共享和保护您的个人信息。

您可选择是否授权我们收集和使用您的个人信息。

信息的收集范围
我们收集您的以下个人信息：
身份识别信息，包括但不限于您的姓名、身份证明、联系地址、电话号码、生物特征信息；

定位：您所处的地理位置及目的地信息，方便用户快速找到附件景点和提供导航服务；

读写权限：用于缓存地图数据；

获取手机信息：用于一键登录；

录音权限：用于语音互动；

平台操作信息，包括但不限于您的IP地址、设备型号、设备标识符、操作系统版本信息；

行程信息，包括但不限于您的出发地、到达地、路线、途经地点及时间、里程数信息；

支付信息，包括但不限于您的支付时间、支付金额、支付工具、银行账户及支付账户信息；

个人信用信息，包括但不限于关于您的任何信用状况、信用分、信用报告信息；

其他根据我们具体产品及服务的需要而收集的您的个人信息，包括但不限于您对我们及我们的产品或服务的意见、建议、您曾经使用或经常使用的移动应用软件以及使用场景和使用习惯等信息。

信息的收集方法
您授权我们通过以下方法收集您的个人信息：
我们将收集和储存在您浏览、访问游小伴服务平台或使用任逍遥园区服务平台的产品或服务时主动向我们提供的信息；

我们将收集和储存我们在向您提供游小伴服务平台的产品或服务的过程中记录的与您有关的信息；

我们将收集和储存您通过我们的客服人员或其他渠道主动提交或反馈的信息；

我们将向关联公司、商业合作伙伴及第三方获取独立资料来源，收集和储存其合法获得的与您有关的信息；

我们将向依法设立的征信机构查询您的相关信用信息，包括但不限于任何信用分、信用报告等。

信息的用途
您授权我们出于以下用途使用您的个人信息：
向您提供游小伴服务平台的产品及服务，并进行游小伴服务平台相关网站及APP的管理和优化；

提升和改善游小伴服务平台现有产品及服务的功能和质量，包括但不限于产品及服务内容的个性化定制及更新；

开展游小伴服务平台产品及服务相关的市场活动，向您推送最新的市场活动信息及优惠方案；

设计、开发、推广全新的产品及服务；

提高任逍遥园区服务平台产品及服务安全性，包括但不限于身份验证、客户服务、安全防范、诈骗监测、存档和备份；

协助行政机关、司法机构等有权机关开展调查，并遵守适用法律法规及其他向有权机关承诺之义务；

在收集信息之时所通知您的用途以及与上述任何用途有关的其他用途；

此外，我们可能向您发送与上述用途有关的信息和通知，包括但不限于为保证服务完成所必须的验证码、使用产品或服务时所必要的推送通知、当前费用优惠及减免信息、关于游小伴服务平台产品或服务的新闻以及市场活动及优惠促销信息。

信息的共享
我们对您的个人信息承担保密义务，但您授权我们在下列情况下将您的信息与第三方共享：

为了提升我们的产品及服务质量或向您提供全新的产品及服务，我们会在关联公司内部共享您的相关信息，也可能将我们收集的信息提供给第三方用于分析和统计；

为了与第三方开展联合推广活动，我们可能与其共享开展活动所必需的以及在活动过程中产生的相关信息；

为了维护您的合法权益，在协助处理与您有关的纠纷或争议时，我们会向存在利害关系的第三方提供解决纠纷或争议所必需的信息；

根据法律法规的规定及商业惯例，我们需要接受第三方的审计或尽职调查时，可能向其提供您的相关信息；

根据法律法规的规定或行政机关、司法机构等有权机关要求，我们会向其提供您的相关信息；

其他经您同意或授权可以向第三方提供您的个人信息的情况。

信息的安全及保护措施
我们将采用严格的安全制度以及行业通行的安全技术和程序来确保您的个人信息不被丢失、泄露、毁损或用；

我们将使用行业通行的安全技术和程序，来保护您的个人信息不被未经授权的访问、使用；

我们的员工将受到保密协议的约束，同时还将受到数据信息的权限控制和操作监控；

但是，请您注意，任何安全系统都存在可能的及未知的风险。

您访问的第三方网站经营者、您使用的第三方服务提供者和通过我们获取您的个人信息的第三方可能有自己的隐私权保护规则以及获取您个人信息的方法和措施，这些第三方的隐私权保护规则、获取个人信息的方法和措施将不会受到我们的控制。虽然我们将与可能接触到您的个人信息的我们的合作方等第三方签署保密协议并尽可能的努力督促其履行保密义务，但我们无法保证第三方一定会按照我们的要求采取保密措施，我们亦不对第三方的行为及后果承担任何责任。

作为用户，您可根据您的意愿决定是否使用游小伴服务平台的服务，是否主动提供个人信息。
同时，您可以查看您提供给我们的个人信息及行程信息。如果您希望删除或更正您的个人信息，请联系我们的客服人员。

如果我们监测到您将游小伴服务平台的产品及服务以及相关信息用于欺诈或非法目的，我们将会采取相应措施，包括但不限于中止或终止向您提供任何产品或服务。

随着游小伴服务平台的产品及服务的进步提升，我们的隐私政策的內容会随时更新。更新后的隐私政策一旦在游小伴相关网站及小程序上公布即有效代替原来的隐私政策。我们鼓励您定期查看最新的隐私政策以了解我们对于隐私保护的最新措施。

【签约动作】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您同意协议。
      </pre>
    </div>
  </body>
</html>
