<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysFeaturedFoodShopMapper" >

    <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysFeaturedFoodShop">
        insert into sys_featured_food_shop
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="spotId != null" >
                spot_id,
            </if>
            <if test="featuredFoodName != null" >
                featured_food_name,
            </if>
            <if test="featuredFoodPinyin != null" >
                featured_food_pinyin,
            </if>
            <if test="featuredGpsBaiDu != null" >
                featured_gps_bai_du,
            </if>
            <if test="featuredGpsGaoDe != null" >
                featured_gps_gao_de,
            </if>
            <if test="featuredGps != null" >
                featured_gps,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="businessHours != null" >
                business_hours,
            </if>
            <if test="recommendNumber != null" >
                recommend_number,
            </if>
            <if test="coverPic != null" >
                cover_pic,
            </if>
            <if test="detailsPic != null" >
                details_pic,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="broadcastContent != null">
                broadcast_content,
            </if>
            <if test="coordinateRadius != null">
                coordinate_radius,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="spotId != null" >
                #{spotId,jdbcType=BIGINT},
            </if>
            <if test="featuredFoodName != null" >
                #{featuredFoodName,jdbcType=VARCHAR},
            </if>
            <if test="featuredFoodPinyin != null" >
                #{featuredFoodPinyin,jdbcType=VARCHAR},
            </if>
            <if test="featuredGpsBaiDu != null" >
                #{featuredGpsBaiDu,jdbcType=VARCHAR},
            </if>
            <if test="featuredGpsGaoDe != null" >
                #{featuredGpsGaoDe,jdbcType=VARCHAR},
            </if>
            <if test="featuredGps != null" >
                #{featuredGps,jdbcType=VARCHAR},
            </if>
            <if test="price != null" >
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="businessHours != null" >
                #{businessHours,jdbcType=VARCHAR},
            </if>
            <if test="recommendNumber != null" >
                #{recommendNumber,jdbcType=BIGINT},
            </if>
            <if test="coverPic != null" >
                #{coverPic,jdbcType=VARCHAR},
            </if>
            <if test="detailsPic != null" >
                #{detailsPic,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=BIGINT},
            </if>
            <if test="city != null">
                #{city,jdbcType=BIGINT},
            </if>
            <if test="area != null">
                #{area,jdbcType=BIGINT},
            </if>
            <if test="broadcastContent != null">
                #{broadcastContent,jdbcType=VARCHAR},
            </if>
            <if test="coordinateRadius != null">
                #{coordinateRadius,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysFeaturedFoodShop">
        update sys_featured_food_shop
        <set >
            <if test="spotId != null and spotId != ''" >
                spot_id = #{spotId,jdbcType=BIGINT},
            </if>
            <if test="featuredFoodName != null and featuredFoodName != '' " >
                featured_food_name = #{featuredFoodName,jdbcType=VARCHAR},
            </if>
            <if test="featuredFoodPinyin != null and featuredFoodPinyin != '' " >
                featured_food_pinyin = #{featuredFoodPinyin,jdbcType=VARCHAR},
            </if>
            <if test="featuredGpsBaiDu != null and featuredGpsBaiDu != '' " >
                featured_gps_bai_du = #{featuredGpsBaiDu,jdbcType=VARCHAR},
            </if>
            <if test="featuredGpsGaoDe != null and featuredGpsGaoDe != '' " >
                featured_gps_gao_de = #{featuredGpsGaoDe,jdbcType=VARCHAR},
            </if>
            <if test="featuredGps != null and featuredGps != '' " >
                featured_gps = #{featuredGps,jdbcType=VARCHAR},
            </if>
            <if test="price != null and price != '' " >
                price = #{price,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != '' " >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="businessHours != null and businessHours != '' " >
                business_hours = #{businessHours,jdbcType=VARCHAR},
            </if>
            <if test="recommendNumber != null" >
                recommend_number = #{recommendNumber,jdbcType=BIGINT},
            </if>
            <if test="coverPic != null and coverPic != ''" >
                cover_pic = #{coverPic,jdbcType=VARCHAR},
            </if>
            <if test="detailsPic != null and detailsPic != ''" >
                details_pic = #{detailsPic,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null and updateTime !=''">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="province != null and province !=''">
                province = #{province,jdbcType=BIGINT},
            </if>
            <if test="city != null and city !=''">
                city = #{city,jdbcType=BIGINT},
            </if>
            <if test="area != null and area !=''">
                area = #{area,jdbcType=BIGINT},
            </if>
            <if test="broadcastContent != null and broadcastContent">
                broadcast_content = #{broadcastContent,jdbcType=VARCHAR},
            </if>
            <if test="coordinateRadius != null and coordinateRadius != ''">
                coordinate_radius = #{coordinateRadius,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null and introduce != ''">
                introduce = #{introduce,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from sys_featured_food_shop
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="list" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysFeaturedFoodShop">
        select sffs.*,sss.SCENIC_SPOT_NAME,sssb1.SCENIC_SPOT_FNAME as provinceName,sssb2.SCENIC_SPOT_FNAME as cityName,sssb3.SCENIC_SPOT_FNAME as areaName
        from sys_featured_food_shop sffs
        left join SYS_SCENIC_SPOT sss
        on sffs.spot_id = sss.SCENIC_SPOT_ID
        left join SYS_SCENIC_SPOT_BINDING sssb1
        on sffs.province = sssb1.SCENIC_SPOT_FID
        left join SYS_SCENIC_SPOT_BINDING sssb2
        on sffs.city = sssb2.SCENIC_SPOT_FID
        left join SYS_SCENIC_SPOT_BINDING sssb3
        on sffs.area = sssb3.SCENIC_SPOT_FID
        <where>
            <if test="spotId != null">
                sffs.spot_id = #{spotId}
            </if>
            <if test="content != null">
                and  sffs.featured_food_name like CONCAT('%',#{content},'%')
            </if>
            <if test="province != null">
                and sffs.province = #{province}
            </if>
            <if test="city != null">
                and sffs.city = #{city}
            </if>
            <if test="area != null">
                and sffs.area = #{area}
            </if>
            <if test="cityId != null">
                and  (province = #{cityId} or city = #{cityId} or area = #{cityId})
            </if>
        </where>
        order by create_time DESC
    </select>

    <update id="addGiveTheThumbsUp" >
        update  sys_featured_food_shop set recommend_number = recommend_number + 1
    </update>


    <select id="selectById" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysFeaturedFoodShop">
        select *
        from sys_featured_food_shop
        where id = #{shopsId}
    </select>
</mapper>