<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysGuideAppUsersMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers" >
    <id column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="LONGIN_TOKEN_ID" property="longinTokenId" jdbcType="VARCHAR" />
    <result column="USER_CLIENT_GT_ID" property="userClientGtId" jdbcType="VARCHAR" />
    <result column="PHONE_SIGN" property="phoneSign" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USER_PHONE, LONGIN_TOKEN_ID, USER_CLIENT_GT_ID, PHONE_SIGN, CREATE_DATE, 
    UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_GUIDE_APP_USERS
    where USER_ID = #{userId,jdbcType=BIGINT}
  </select>
  <!--查询登录令牌失效性-->
  <select id="getToken" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from SYS_GUIDE_APP_USERS
    where LONGIN_TOKEN_ID = #{longinTokenId,jdbcType=VARCHAR}
  </select>
  <!--唯一标识查询用户信息-->
  <select id="getPhoneSign" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from SYS_GUIDE_APP_USERS
    where PHONE_SIGN = #{phoneSign,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_GUIDE_APP_USERS
    where USER_ID = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers" >
    insert into SYS_GUIDE_APP_USERS (USER_ID, USER_PHONE, LONGIN_TOKEN_ID, 
      USER_CLIENT_GT_ID, PHONE_SIGN, CREATE_DATE, 
      UPDATE_DATE)
    values (#{userId,jdbcType=BIGINT}, #{userPhone,jdbcType=VARCHAR}, #{longinTokenId,jdbcType=VARCHAR}, 
      #{userClientGtId,jdbcType=VARCHAR}, #{phoneSign,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers" >
    insert into SYS_GUIDE_APP_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="longinTokenId != null" >
        LONGIN_TOKEN_ID,
      </if>
      <if test="userClientGtId != null" >
        USER_CLIENT_GT_ID,
      </if>
      <if test="phoneSign != null" >
        PHONE_SIGN,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="longinTokenId != null" >
        #{longinTokenId,jdbcType=VARCHAR},
      </if>
      <if test="userClientGtId != null" >
        #{userClientGtId,jdbcType=VARCHAR},
      </if>
      <if test="phoneSign != null" >
        #{phoneSign,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers" >
    update SYS_GUIDE_APP_USERS
    <set >
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="longinTokenId != null" >
        LONGIN_TOKEN_ID = #{longinTokenId,jdbcType=VARCHAR},
      </if>
      <if test="userClientGtId != null" >
        USER_CLIENT_GT_ID = #{userClientGtId,jdbcType=VARCHAR},
      </if>
      <if test="phoneSign != null" >
        PHONE_SIGN = #{phoneSign,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers" >
    update SYS_GUIDE_APP_USERS
    set USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      LONGIN_TOKEN_ID = #{longinTokenId,jdbcType=VARCHAR},
      USER_CLIENT_GT_ID = #{userClientGtId,jdbcType=VARCHAR},
      PHONE_SIGN = #{phoneSign,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=BIGINT}
  </update>


  <select id="getUid" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers">
    select * from SYS_GUIDE_APP_USERS where USER_ID = #{uid}
  </select>

  <select id="selectPhoneByUser" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysGuideAppUsers">
    select * from SYS_GUIDE_APP_USERS where USER_PHONE = #{phone}
  </select>
</mapper>