<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysGoodThingsFabulousMapper" >

    <select id="getUidAndShopIdAndTypeByFabulous" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysGoodThingsFabulous">
        select COUNT(0)
        from sys_good_things_fabulous
        where featured_food_id = #{id}
        and user_id = #{uid}
        and type = #{type}
    </select>

    <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysGoodThingsFabulous">
        insert into sys_good_things_fabulous
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="featuredFoodId != null" >
                featured_food_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="featuredFoodId != null" >
                #{featured_foodId,jdbcType=BIGINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="delete">
        delete from sys_good_things_fabulous
        where id = #{id} and user_id = #{uid} and type = #{type}
    </delete>


</mapper>