<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysHotelMapper" >


    <select id="getSysHotelIdDetails" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysHotelDetails">
        select *
        from sys_hotel_details
        where hotel_id = #{id}
        order by create_time desc
    </select>

</mapper>