<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysMuseumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysMuseum">
        <id column="id" property="id"/>
        <result column="spot_id" property="spotId"/>
        <result column="museum_name" property="museumName"/>
        <result column="museum_name_pinying" property="museumNamePinying"/>
        <result column="museum_gps_bai_du" property="museumGpsBaiDu"/>
        <result column="museum_gps_gao_de" property="museumGpsGaoDe"/>
        <result column="museum_gps" property="museumGps"/>
        <result column="coordinate_radius" property="coordinateRadius"/>
        <result column="museum_introduce" property="museumIntroduce"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="business_hours" property="businessHours"/>
        <result column="recommend_number" property="recommendNumber"/>
        <result column="cover_pic" property="coverPic"/>
        <result column="details_pic" property="detailsPic"/>
        <!--        暂未使用-->
        <!--        <result column="museum_thumbnail_pic" property="museumThumbnailPic" />-->
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="broadcast_content" property="broadcastContent"/>
        <result column="introduce" property="introduce"/>
        <result column="admission_fee" property="admissionFee"/>
        <result column="identify_number" property="identifyNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spot_id, museum_name, museum_name_pinying, museum_gps_bai_du, museum_gps_gao_de, museum_gps, coordinate_radius, museum_introduce, address, phone, business_hours, recommend_number, cover_pic, details_pic,  create_time, update_time, province, city, area, broadcast_content, introduce, admission_fee, identify_number
    </sql>
    <select id="getSysMuseumList" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysMuseum">
        select
        <include refid="Base_Column_List"/>
        from sys_museum
        <where>
            <if test="cityId != null and cityId != ''">
                province = #{cityId} or city = #{cityId} or area = #{cityId}
            </if>
        </where>
        order by create_time
    </select>
    <select id="getSysMuseumIdDetails" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysMuseum">
        select *
        from sys_museum
        <where>
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
        </where>
    </select>
</mapper>
