<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysSensitiveWordsMapper" >

    <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysSensitiveWords">
        insert into sys_sensitive_words
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="sensitiveWords != null" >
                sensitive_words,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sensitiveWords != null" >
                #{sensitiveWords,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
        </trim>

    </insert>

    <update id="update" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysSensitiveWords">
        update sys_sensitive_words
        <set >
            <if test="sensitiveWords != null and sensitiveWords != ''" >
                sensitive_words = #{sensitiveWords,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null and updateTime !=''">
                update_time = #{updateTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete">
        delete from sys_sensitive_words
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="list" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysSensitiveWords">
        select *
        from sys_sensitive_words
        where sensitive_words like concat('%',#{content},'%')
    </select>


</mapper>