<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysScenicSpotMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot" >
    <id column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_NAME" property="scenicSpotName" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_CONTACT" property="scenicSpotContact" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_PHONE" property="scenicSpotPhone" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_EMAIL" property="scenicSpotEmail" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_ADDRES" property="scenicSpotAddres" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_POSTAL_CODE" property="scenicSpotPostalCode" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_ROBOT_TOTAL" property="scenicSpotRobotTotal" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_STATUS" property="scenicSpotStatus" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_OPENWORD" property="scenicSpotOpenword" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_CLOSEWORD" property="scenicSpotCloseword" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_BEYOND_PRICE" property="scenicSpotBeyondPrice" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_WEEKEND_PRICE" property="scenicSpotWeekendPrice" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_NORMAL_PRICE" property="scenicSpotNormalPrice" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_WEEKEND_RENT_PRICE" property="scenicSpotWeekendRentPrice" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_NORMAL_RENT_PRICE" property="scenicSpotNormalRentPrice" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_WEEKEND_TIME" property="scenicSpotWeekendTime" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_NORMAL_TIME" property="scenicSpotNormalTime" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_REMAINING_TIME" property="scenicSpotRemainingTime" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_RENT_TIME" property="scenicSpotRentTime" jdbcType="VARCHAR" />
    <result column="COORDINATE_RANGE" property="coordinateRange" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_DEPOSIT" property="scenicSpotDeposit" jdbcType="VARCHAR" />
    <result column="NORMAL_CAPPED_PRICE" property="normalCappedPrice" jdbcType="VARCHAR" />
    <result column="WEEKEND_CAPPED_PRICE" property="weekendCappedPrice" jdbcType="VARCHAR" />
    <result column="RANDOM_BROADCAST_TIME" property="randomBroadcastTime" jdbcType="VARCHAR" />
    <result column="ROBOT_WAKEUP_WORDS" property="robotWakeupWords" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_THE_SERVER" property="scenicSpotTheServer" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_FID" property="scenicSpotFid" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_FREQUENCY" property="scenicSpotFrequency" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_FENCE_TIME" property="scenicSpotFenceTime" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_FORBIDDEN_ZONE_TIME" property="scenicSpotForbiddenZoneTime" jdbcType="VARCHAR" />
    <result column="TEST_START_TIME" property="testStartTime" jdbcType="VARCHAR" />
    <result column="TRIAL_OPERATIONS_TIME" property="trialOperationsTime" jdbcType="VARCHAR" />
    <result column="FORMAL_OPERATION_TIME" property="formalOperationTime" jdbcType="VARCHAR" />
    <result column="STOP_OPERATION_TIME" property="stopOperationTime" jdbcType="VARCHAR" />
    <result column="COMPANY_ID" property="companyId" jdbcType="BIGINT" />
    <result column="PAUSE_STATE" property="pauseState" jdbcType="VARCHAR" />
    <result column="WORK_TIME" property="workTime" jdbcType="VARCHAR" />
    <result column="CLOSING_TIME" property="closingTime" jdbcType="VARCHAR" />
    <result column="PAUSE_BROADCAST" property="pauseBroadcast" jdbcType="VARCHAR" />
    <result column="WORK_BROADCAST" property="workBroadcast" jdbcType="VARCHAR" />
    <result column="CLOSING_BROADCAST" property="closingBroadcast" jdbcType="VARCHAR" />
    <result column="LAMP_OPENING_TIME" property="lampOpeningTime" jdbcType="VARCHAR" />
    <result column="LAMP_CLOSING_TIME" property="lampClosingTime" jdbcType="VARCHAR" />
    <result column="LAMP_LIGHTING_TIME" property="lampLightingTime" jdbcType="VARCHAR" />
    <result column="FREE_TIME_SETTING" property="freeTimeSetting" jdbcType="VARCHAR" />
    <result column="GIFT_TIME_SETTING" property="giftTimeSetting" jdbcType="VARCHAR" />
    <result column="GIFT_USAGE_SETTING" property="giftUsageSetting" jdbcType="VARCHAR" />

    <result column="HEAT" property="heat" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    SCENIC_SPOT_ID, SCENIC_SPOT_NAME, SCENIC_SPOT_CONTACT, SCENIC_SPOT_PHONE, SCENIC_SPOT_EMAIL, 
    SCENIC_SPOT_ADDRES, SCENIC_SPOT_POSTAL_CODE, SCENIC_SPOT_ROBOT_TOTAL, SCENIC_SPOT_STATUS, 
    SCENIC_SPOT_OPENWORD, SCENIC_SPOT_CLOSEWORD, SCENIC_SPOT_BEYOND_PRICE, SCENIC_SPOT_WEEKEND_PRICE, 
    SCENIC_SPOT_NORMAL_PRICE, SCENIC_SPOT_WEEKEND_RENT_PRICE, SCENIC_SPOT_NORMAL_RENT_PRICE, 
    SCENIC_SPOT_WEEKEND_TIME, SCENIC_SPOT_NORMAL_TIME, SCENIC_SPOT_REMAINING_TIME, SCENIC_SPOT_RENT_TIME, 
    COORDINATE_RANGE, SCENIC_SPOT_DEPOSIT, NORMAL_CAPPED_PRICE, WEEKEND_CAPPED_PRICE, 
    RANDOM_BROADCAST_TIME, ROBOT_WAKEUP_WORDS, SCENIC_SPOT_THE_SERVER, CREATE_DATE, UPDATE_DATE, 
    SCENIC_SPOT_FID, SCENIC_SPOT_FREQUENCY, SCENIC_SPOT_FENCE_TIME, SCENIC_SPOT_FORBIDDEN_ZONE_TIME, 
    TEST_START_TIME, TRIAL_OPERATIONS_TIME, FORMAL_OPERATION_TIME, STOP_OPERATION_TIME, 
    COMPANY_ID, PAUSE_STATE, WORK_TIME, CLOSING_TIME, PAUSE_BROADCAST, WORK_BROADCAST, 
    CLOSING_BROADCAST, LAMP_OPENING_TIME, LAMP_CLOSING_TIME, LAMP_LIGHTING_TIME, FREE_TIME_SETTING, 
    GIFT_TIME_SETTING, GIFT_USAGE_SETTING,HEAT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
  </select>

  <select id="queryScenicSpotList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_SCENIC_SPOT
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot" >
    insert into SYS_SCENIC_SPOT (SCENIC_SPOT_ID, SCENIC_SPOT_NAME, SCENIC_SPOT_CONTACT, 
      SCENIC_SPOT_PHONE, SCENIC_SPOT_EMAIL, SCENIC_SPOT_ADDRES, 
      SCENIC_SPOT_POSTAL_CODE, SCENIC_SPOT_ROBOT_TOTAL, 
      SCENIC_SPOT_STATUS, SCENIC_SPOT_OPENWORD, SCENIC_SPOT_CLOSEWORD, 
      SCENIC_SPOT_BEYOND_PRICE, SCENIC_SPOT_WEEKEND_PRICE, 
      SCENIC_SPOT_NORMAL_PRICE, SCENIC_SPOT_WEEKEND_RENT_PRICE, 
      SCENIC_SPOT_NORMAL_RENT_PRICE, SCENIC_SPOT_WEEKEND_TIME, 
      SCENIC_SPOT_NORMAL_TIME, SCENIC_SPOT_REMAINING_TIME, 
      SCENIC_SPOT_RENT_TIME, COORDINATE_RANGE, SCENIC_SPOT_DEPOSIT, 
      NORMAL_CAPPED_PRICE, WEEKEND_CAPPED_PRICE, 
      RANDOM_BROADCAST_TIME, ROBOT_WAKEUP_WORDS, 
      SCENIC_SPOT_THE_SERVER, CREATE_DATE, UPDATE_DATE, 
      SCENIC_SPOT_FID, SCENIC_SPOT_FREQUENCY, SCENIC_SPOT_FENCE_TIME, 
      SCENIC_SPOT_FORBIDDEN_ZONE_TIME, TEST_START_TIME, 
      TRIAL_OPERATIONS_TIME, FORMAL_OPERATION_TIME, 
      STOP_OPERATION_TIME, COMPANY_ID, PAUSE_STATE, 
      WORK_TIME, CLOSING_TIME, PAUSE_BROADCAST, 
      WORK_BROADCAST, CLOSING_BROADCAST, LAMP_OPENING_TIME, 
      LAMP_CLOSING_TIME, LAMP_LIGHTING_TIME, FREE_TIME_SETTING, 
      GIFT_TIME_SETTING, GIFT_USAGE_SETTING,HEAT)
    values (#{scenicSpotId,jdbcType=BIGINT}, #{scenicSpotName,jdbcType=VARCHAR}, #{scenicSpotContact,jdbcType=VARCHAR}, 
      #{scenicSpotPhone,jdbcType=VARCHAR}, #{scenicSpotEmail,jdbcType=VARCHAR}, #{scenicSpotAddres,jdbcType=VARCHAR}, 
      #{scenicSpotPostalCode,jdbcType=VARCHAR}, #{scenicSpotRobotTotal,jdbcType=VARCHAR}, 
      #{scenicSpotStatus,jdbcType=VARCHAR}, #{scenicSpotOpenword,jdbcType=VARCHAR}, #{scenicSpotCloseword,jdbcType=VARCHAR}, 
      #{scenicSpotBeyondPrice,jdbcType=VARCHAR}, #{scenicSpotWeekendPrice,jdbcType=VARCHAR}, 
      #{scenicSpotNormalPrice,jdbcType=VARCHAR}, #{scenicSpotWeekendRentPrice,jdbcType=VARCHAR}, 
      #{scenicSpotNormalRentPrice,jdbcType=VARCHAR}, #{scenicSpotWeekendTime,jdbcType=VARCHAR}, 
      #{scenicSpotNormalTime,jdbcType=VARCHAR}, #{scenicSpotRemainingTime,jdbcType=VARCHAR}, 
      #{scenicSpotRentTime,jdbcType=VARCHAR}, #{coordinateRange,jdbcType=VARCHAR}, #{scenicSpotDeposit,jdbcType=VARCHAR}, 
      #{normalCappedPrice,jdbcType=VARCHAR}, #{weekendCappedPrice,jdbcType=VARCHAR}, 
      #{randomBroadcastTime,jdbcType=VARCHAR}, #{robotWakeupWords,jdbcType=VARCHAR}, 
      #{scenicSpotTheServer,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, 
      #{scenicSpotFid,jdbcType=BIGINT}, #{scenicSpotFrequency,jdbcType=VARCHAR}, #{scenicSpotFenceTime,jdbcType=VARCHAR}, 
      #{scenicSpotForbiddenZoneTime,jdbcType=VARCHAR}, #{testStartTime,jdbcType=VARCHAR}, 
      #{trialOperationsTime,jdbcType=VARCHAR}, #{formalOperationTime,jdbcType=VARCHAR}, 
      #{stopOperationTime,jdbcType=VARCHAR}, #{companyId,jdbcType=BIGINT}, #{pauseState,jdbcType=VARCHAR}, 
      #{workTime,jdbcType=VARCHAR}, #{closingTime,jdbcType=VARCHAR}, #{pauseBroadcast,jdbcType=VARCHAR}, 
      #{workBroadcast,jdbcType=VARCHAR}, #{closingBroadcast,jdbcType=VARCHAR}, #{lampOpeningTime,jdbcType=VARCHAR}, 
      #{lampClosingTime,jdbcType=VARCHAR}, #{lampLightingTime,jdbcType=VARCHAR}, #{freeTimeSetting,jdbcType=VARCHAR}, 
      #{giftTimeSetting,jdbcType=VARCHAR}, #{giftUsageSetting,jdbcType=VARCHAR}, #{heat,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot" >
    insert into SYS_SCENIC_SPOT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="scenicSpotName != null" >
        SCENIC_SPOT_NAME,
      </if>
      <if test="scenicSpotContact != null" >
        SCENIC_SPOT_CONTACT,
      </if>
      <if test="scenicSpotPhone != null" >
        SCENIC_SPOT_PHONE,
      </if>
      <if test="scenicSpotEmail != null" >
        SCENIC_SPOT_EMAIL,
      </if>
      <if test="scenicSpotAddres != null" >
        SCENIC_SPOT_ADDRES,
      </if>
      <if test="scenicSpotPostalCode != null" >
        SCENIC_SPOT_POSTAL_CODE,
      </if>
      <if test="scenicSpotRobotTotal != null" >
        SCENIC_SPOT_ROBOT_TOTAL,
      </if>
      <if test="scenicSpotStatus != null" >
        SCENIC_SPOT_STATUS,
      </if>
      <if test="scenicSpotOpenword != null" >
        SCENIC_SPOT_OPENWORD,
      </if>
      <if test="scenicSpotCloseword != null" >
        SCENIC_SPOT_CLOSEWORD,
      </if>
      <if test="scenicSpotBeyondPrice != null" >
        SCENIC_SPOT_BEYOND_PRICE,
      </if>
      <if test="scenicSpotWeekendPrice != null" >
        SCENIC_SPOT_WEEKEND_PRICE,
      </if>
      <if test="scenicSpotNormalPrice != null" >
        SCENIC_SPOT_NORMAL_PRICE,
      </if>
      <if test="scenicSpotWeekendRentPrice != null" >
        SCENIC_SPOT_WEEKEND_RENT_PRICE,
      </if>
      <if test="scenicSpotNormalRentPrice != null" >
        SCENIC_SPOT_NORMAL_RENT_PRICE,
      </if>
      <if test="scenicSpotWeekendTime != null" >
        SCENIC_SPOT_WEEKEND_TIME,
      </if>
      <if test="scenicSpotNormalTime != null" >
        SCENIC_SPOT_NORMAL_TIME,
      </if>
      <if test="scenicSpotRemainingTime != null" >
        SCENIC_SPOT_REMAINING_TIME,
      </if>
      <if test="scenicSpotRentTime != null" >
        SCENIC_SPOT_RENT_TIME,
      </if>
      <if test="coordinateRange != null" >
        COORDINATE_RANGE,
      </if>
      <if test="scenicSpotDeposit != null" >
        SCENIC_SPOT_DEPOSIT,
      </if>
      <if test="normalCappedPrice != null" >
        NORMAL_CAPPED_PRICE,
      </if>
      <if test="weekendCappedPrice != null" >
        WEEKEND_CAPPED_PRICE,
      </if>
      <if test="randomBroadcastTime != null" >
        RANDOM_BROADCAST_TIME,
      </if>
      <if test="robotWakeupWords != null" >
        ROBOT_WAKEUP_WORDS,
      </if>
      <if test="scenicSpotTheServer != null" >
        SCENIC_SPOT_THE_SERVER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="scenicSpotFid != null" >
        SCENIC_SPOT_FID,
      </if>
      <if test="scenicSpotFrequency != null" >
        SCENIC_SPOT_FREQUENCY,
      </if>
      <if test="scenicSpotFenceTime != null" >
        SCENIC_SPOT_FENCE_TIME,
      </if>
      <if test="scenicSpotForbiddenZoneTime != null" >
        SCENIC_SPOT_FORBIDDEN_ZONE_TIME,
      </if>
      <if test="testStartTime != null" >
        TEST_START_TIME,
      </if>
      <if test="trialOperationsTime != null" >
        TRIAL_OPERATIONS_TIME,
      </if>
      <if test="formalOperationTime != null" >
        FORMAL_OPERATION_TIME,
      </if>
      <if test="stopOperationTime != null" >
        STOP_OPERATION_TIME,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="pauseState != null" >
        PAUSE_STATE,
      </if>
      <if test="workTime != null" >
        WORK_TIME,
      </if>
      <if test="closingTime != null" >
        CLOSING_TIME,
      </if>
      <if test="pauseBroadcast != null" >
        PAUSE_BROADCAST,
      </if>
      <if test="workBroadcast != null" >
        WORK_BROADCAST,
      </if>
      <if test="closingBroadcast != null" >
        CLOSING_BROADCAST,
      </if>
      <if test="lampOpeningTime != null" >
        LAMP_OPENING_TIME,
      </if>
      <if test="lampClosingTime != null" >
        LAMP_CLOSING_TIME,
      </if>
      <if test="lampLightingTime != null" >
        LAMP_LIGHTING_TIME,
      </if>
      <if test="freeTimeSetting != null" >
        FREE_TIME_SETTING,
      </if>
      <if test="giftTimeSetting != null" >
        GIFT_TIME_SETTING,
      </if>
      <if test="giftUsageSetting != null" >
        GIFT_USAGE_SETTING,
      </if>
      <if test="heat != null" >
        HEAT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotName != null" >
        #{scenicSpotName,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotContact != null" >
        #{scenicSpotContact,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotPhone != null" >
        #{scenicSpotPhone,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotEmail != null" >
        #{scenicSpotEmail,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotAddres != null" >
        #{scenicSpotAddres,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotPostalCode != null" >
        #{scenicSpotPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRobotTotal != null" >
        #{scenicSpotRobotTotal,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotStatus != null" >
        #{scenicSpotStatus,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotOpenword != null" >
        #{scenicSpotOpenword,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotCloseword != null" >
        #{scenicSpotCloseword,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotBeyondPrice != null" >
        #{scenicSpotBeyondPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotWeekendPrice != null" >
        #{scenicSpotWeekendPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotNormalPrice != null" >
        #{scenicSpotNormalPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotWeekendRentPrice != null" >
        #{scenicSpotWeekendRentPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotNormalRentPrice != null" >
        #{scenicSpotNormalRentPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotWeekendTime != null" >
        #{scenicSpotWeekendTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotNormalTime != null" >
        #{scenicSpotNormalTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRemainingTime != null" >
        #{scenicSpotRemainingTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRentTime != null" >
        #{scenicSpotRentTime,jdbcType=VARCHAR},
      </if>
      <if test="coordinateRange != null" >
        #{coordinateRange,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotDeposit != null" >
        #{scenicSpotDeposit,jdbcType=VARCHAR},
      </if>
      <if test="normalCappedPrice != null" >
        #{normalCappedPrice,jdbcType=VARCHAR},
      </if>
      <if test="weekendCappedPrice != null" >
        #{weekendCappedPrice,jdbcType=VARCHAR},
      </if>
      <if test="randomBroadcastTime != null" >
        #{randomBroadcastTime,jdbcType=VARCHAR},
      </if>
      <if test="robotWakeupWords != null" >
        #{robotWakeupWords,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotTheServer != null" >
        #{scenicSpotTheServer,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotFid != null" >
        #{scenicSpotFid,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotFrequency != null" >
        #{scenicSpotFrequency,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotFenceTime != null" >
        #{scenicSpotFenceTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotForbiddenZoneTime != null" >
        #{scenicSpotForbiddenZoneTime,jdbcType=VARCHAR},
      </if>
      <if test="testStartTime != null" >
        #{testStartTime,jdbcType=VARCHAR},
      </if>
      <if test="trialOperationsTime != null" >
        #{trialOperationsTime,jdbcType=VARCHAR},
      </if>
      <if test="formalOperationTime != null" >
        #{formalOperationTime,jdbcType=VARCHAR},
      </if>
      <if test="stopOperationTime != null" >
        #{stopOperationTime,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="pauseState != null" >
        #{pauseState,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null" >
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="closingTime != null" >
        #{closingTime,jdbcType=VARCHAR},
      </if>
      <if test="pauseBroadcast != null" >
        #{pauseBroadcast,jdbcType=VARCHAR},
      </if>
      <if test="workBroadcast != null" >
        #{workBroadcast,jdbcType=VARCHAR},
      </if>
      <if test="closingBroadcast != null" >
        #{closingBroadcast,jdbcType=VARCHAR},
      </if>
      <if test="lampOpeningTime != null" >
        #{lampOpeningTime,jdbcType=VARCHAR},
      </if>
      <if test="lampClosingTime != null" >
        #{lampClosingTime,jdbcType=VARCHAR},
      </if>
      <if test="lampLightingTime != null" >
        #{lampLightingTime,jdbcType=VARCHAR},
      </if>
      <if test="freeTimeSetting != null" >
        #{freeTimeSetting,jdbcType=VARCHAR},
      </if>
      <if test="giftTimeSetting != null" >
        #{giftTimeSetting,jdbcType=VARCHAR},
      </if>
      <if test="giftUsageSetting != null" >
        #{giftUsageSetting,jdbcType=VARCHAR},
      </if>
      <if test="heat != null" >
        #{heat,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot" >
    update SYS_SCENIC_SPOT
    <set >
      <if test="scenicSpotName != null" >
        SCENIC_SPOT_NAME = #{scenicSpotName,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotContact != null" >
        SCENIC_SPOT_CONTACT = #{scenicSpotContact,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotPhone != null" >
        SCENIC_SPOT_PHONE = #{scenicSpotPhone,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotEmail != null" >
        SCENIC_SPOT_EMAIL = #{scenicSpotEmail,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotAddres != null" >
        SCENIC_SPOT_ADDRES = #{scenicSpotAddres,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotPostalCode != null" >
        SCENIC_SPOT_POSTAL_CODE = #{scenicSpotPostalCode,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRobotTotal != null" >
        SCENIC_SPOT_ROBOT_TOTAL = #{scenicSpotRobotTotal,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotStatus != null" >
        SCENIC_SPOT_STATUS = #{scenicSpotStatus,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotOpenword != null" >
        SCENIC_SPOT_OPENWORD = #{scenicSpotOpenword,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotCloseword != null" >
        SCENIC_SPOT_CLOSEWORD = #{scenicSpotCloseword,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotBeyondPrice != null" >
        SCENIC_SPOT_BEYOND_PRICE = #{scenicSpotBeyondPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotWeekendPrice != null" >
        SCENIC_SPOT_WEEKEND_PRICE = #{scenicSpotWeekendPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotNormalPrice != null" >
        SCENIC_SPOT_NORMAL_PRICE = #{scenicSpotNormalPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotWeekendRentPrice != null" >
        SCENIC_SPOT_WEEKEND_RENT_PRICE = #{scenicSpotWeekendRentPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotNormalRentPrice != null" >
        SCENIC_SPOT_NORMAL_RENT_PRICE = #{scenicSpotNormalRentPrice,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotWeekendTime != null" >
        SCENIC_SPOT_WEEKEND_TIME = #{scenicSpotWeekendTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotNormalTime != null" >
        SCENIC_SPOT_NORMAL_TIME = #{scenicSpotNormalTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRemainingTime != null" >
        SCENIC_SPOT_REMAINING_TIME = #{scenicSpotRemainingTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRentTime != null" >
        SCENIC_SPOT_RENT_TIME = #{scenicSpotRentTime,jdbcType=VARCHAR},
      </if>
      <if test="coordinateRange != null" >
        COORDINATE_RANGE = #{coordinateRange,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotDeposit != null" >
        SCENIC_SPOT_DEPOSIT = #{scenicSpotDeposit,jdbcType=VARCHAR},
      </if>
      <if test="normalCappedPrice != null" >
        NORMAL_CAPPED_PRICE = #{normalCappedPrice,jdbcType=VARCHAR},
      </if>
      <if test="weekendCappedPrice != null" >
        WEEKEND_CAPPED_PRICE = #{weekendCappedPrice,jdbcType=VARCHAR},
      </if>
      <if test="randomBroadcastTime != null" >
        RANDOM_BROADCAST_TIME = #{randomBroadcastTime,jdbcType=VARCHAR},
      </if>
      <if test="robotWakeupWords != null" >
        ROBOT_WAKEUP_WORDS = #{robotWakeupWords,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotTheServer != null" >
        SCENIC_SPOT_THE_SERVER = #{scenicSpotTheServer,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotFid != null" >
        SCENIC_SPOT_FID = #{scenicSpotFid,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotFrequency != null" >
        SCENIC_SPOT_FREQUENCY = #{scenicSpotFrequency,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotFenceTime != null" >
        SCENIC_SPOT_FENCE_TIME = #{scenicSpotFenceTime,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotForbiddenZoneTime != null" >
        SCENIC_SPOT_FORBIDDEN_ZONE_TIME = #{scenicSpotForbiddenZoneTime,jdbcType=VARCHAR},
      </if>
      <if test="testStartTime != null" >
        TEST_START_TIME = #{testStartTime,jdbcType=VARCHAR},
      </if>
      <if test="trialOperationsTime != null" >
        TRIAL_OPERATIONS_TIME = #{trialOperationsTime,jdbcType=VARCHAR},
      </if>
      <if test="formalOperationTime != null" >
        FORMAL_OPERATION_TIME = #{formalOperationTime,jdbcType=VARCHAR},
      </if>
      <if test="stopOperationTime != null" >
        STOP_OPERATION_TIME = #{stopOperationTime,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="pauseState != null" >
        PAUSE_STATE = #{pauseState,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null" >
        WORK_TIME = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="closingTime != null" >
        CLOSING_TIME = #{closingTime,jdbcType=VARCHAR},
      </if>
      <if test="pauseBroadcast != null" >
        PAUSE_BROADCAST = #{pauseBroadcast,jdbcType=VARCHAR},
      </if>
      <if test="workBroadcast != null" >
        WORK_BROADCAST = #{workBroadcast,jdbcType=VARCHAR},
      </if>
      <if test="closingBroadcast != null" >
        CLOSING_BROADCAST = #{closingBroadcast,jdbcType=VARCHAR},
      </if>
      <if test="lampOpeningTime != null" >
        LAMP_OPENING_TIME = #{lampOpeningTime,jdbcType=VARCHAR},
      </if>
      <if test="lampClosingTime != null" >
        LAMP_CLOSING_TIME = #{lampClosingTime,jdbcType=VARCHAR},
      </if>
      <if test="lampLightingTime != null" >
        LAMP_LIGHTING_TIME = #{lampLightingTime,jdbcType=VARCHAR},
      </if>
      <if test="freeTimeSetting != null" >
        FREE_TIME_SETTING = #{freeTimeSetting,jdbcType=VARCHAR},
      </if>
      <if test="giftTimeSetting != null" >
        GIFT_TIME_SETTING = #{giftTimeSetting,jdbcType=VARCHAR},
      </if>
      <if test="giftUsageSetting != null" >
        GIFT_USAGE_SETTING = #{giftUsageSetting,jdbcType=VARCHAR},
      </if>
      <if test="heat != null" >
        HEAT = #{heat,jdbcType=BIGINT},
      </if>
    </set>
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot" >
    update SYS_SCENIC_SPOT
    set SCENIC_SPOT_NAME = #{scenicSpotName,jdbcType=VARCHAR},
      SCENIC_SPOT_CONTACT = #{scenicSpotContact,jdbcType=VARCHAR},
      SCENIC_SPOT_PHONE = #{scenicSpotPhone,jdbcType=VARCHAR},
      SCENIC_SPOT_EMAIL = #{scenicSpotEmail,jdbcType=VARCHAR},
      SCENIC_SPOT_ADDRES = #{scenicSpotAddres,jdbcType=VARCHAR},
      SCENIC_SPOT_POSTAL_CODE = #{scenicSpotPostalCode,jdbcType=VARCHAR},
      SCENIC_SPOT_ROBOT_TOTAL = #{scenicSpotRobotTotal,jdbcType=VARCHAR},
      SCENIC_SPOT_STATUS = #{scenicSpotStatus,jdbcType=VARCHAR},
      SCENIC_SPOT_OPENWORD = #{scenicSpotOpenword,jdbcType=VARCHAR},
      SCENIC_SPOT_CLOSEWORD = #{scenicSpotCloseword,jdbcType=VARCHAR},
      SCENIC_SPOT_BEYOND_PRICE = #{scenicSpotBeyondPrice,jdbcType=VARCHAR},
      SCENIC_SPOT_WEEKEND_PRICE = #{scenicSpotWeekendPrice,jdbcType=VARCHAR},
      SCENIC_SPOT_NORMAL_PRICE = #{scenicSpotNormalPrice,jdbcType=VARCHAR},
      SCENIC_SPOT_WEEKEND_RENT_PRICE = #{scenicSpotWeekendRentPrice,jdbcType=VARCHAR},
      SCENIC_SPOT_NORMAL_RENT_PRICE = #{scenicSpotNormalRentPrice,jdbcType=VARCHAR},
      SCENIC_SPOT_WEEKEND_TIME = #{scenicSpotWeekendTime,jdbcType=VARCHAR},
      SCENIC_SPOT_NORMAL_TIME = #{scenicSpotNormalTime,jdbcType=VARCHAR},
      SCENIC_SPOT_REMAINING_TIME = #{scenicSpotRemainingTime,jdbcType=VARCHAR},
      SCENIC_SPOT_RENT_TIME = #{scenicSpotRentTime,jdbcType=VARCHAR},
      COORDINATE_RANGE = #{coordinateRange,jdbcType=VARCHAR},
      SCENIC_SPOT_DEPOSIT = #{scenicSpotDeposit,jdbcType=VARCHAR},
      NORMAL_CAPPED_PRICE = #{normalCappedPrice,jdbcType=VARCHAR},
      WEEKEND_CAPPED_PRICE = #{weekendCappedPrice,jdbcType=VARCHAR},
      RANDOM_BROADCAST_TIME = #{randomBroadcastTime,jdbcType=VARCHAR},
      ROBOT_WAKEUP_WORDS = #{robotWakeupWords,jdbcType=VARCHAR},
      SCENIC_SPOT_THE_SERVER = #{scenicSpotTheServer,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      SCENIC_SPOT_FID = #{scenicSpotFid,jdbcType=BIGINT},
      SCENIC_SPOT_FREQUENCY = #{scenicSpotFrequency,jdbcType=VARCHAR},
      SCENIC_SPOT_FENCE_TIME = #{scenicSpotFenceTime,jdbcType=VARCHAR},
      SCENIC_SPOT_FORBIDDEN_ZONE_TIME = #{scenicSpotForbiddenZoneTime,jdbcType=VARCHAR},
      TEST_START_TIME = #{testStartTime,jdbcType=VARCHAR},
      TRIAL_OPERATIONS_TIME = #{trialOperationsTime,jdbcType=VARCHAR},
      FORMAL_OPERATION_TIME = #{formalOperationTime,jdbcType=VARCHAR},
      STOP_OPERATION_TIME = #{stopOperationTime,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=BIGINT},
      PAUSE_STATE = #{pauseState,jdbcType=VARCHAR},
      WORK_TIME = #{workTime,jdbcType=VARCHAR},
      CLOSING_TIME = #{closingTime,jdbcType=VARCHAR},
      PAUSE_BROADCAST = #{pauseBroadcast,jdbcType=VARCHAR},
      WORK_BROADCAST = #{workBroadcast,jdbcType=VARCHAR},
      CLOSING_BROADCAST = #{closingBroadcast,jdbcType=VARCHAR},
      LAMP_OPENING_TIME = #{lampOpeningTime,jdbcType=VARCHAR},
      LAMP_CLOSING_TIME = #{lampClosingTime,jdbcType=VARCHAR},
      LAMP_LIGHTING_TIME = #{lampLightingTime,jdbcType=VARCHAR},
      FREE_TIME_SETTING = #{freeTimeSetting,jdbcType=VARCHAR},
      GIFT_TIME_SETTING = #{giftTimeSetting,jdbcType=VARCHAR},
      GIFT_USAGE_SETTING = #{giftUsageSetting,jdbcType=VARCHAR},
      HEAT = #{heat,jdbcType=BIGINT}
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
  </update>


  <select id="selectBySearch" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot">
    select sss.*
    from SYS_SCENIC_SPOT_BINDING sssb
    left join SYS_SCENIC_SPOT sss
    on sssb.SCENIC_SPOT_FID = sss.SCENIC_SPOT_ID
    where sssb.SCENIC_SPOT_PID = #{cityId}
    and sss.SCENIC_SPOT_NAME like CONCAT('%',#{spotName},'%')
    <if test="sort == 1">
      order by START_LEVEL DESC
    </if>
    <if test="sort == 2">
      order by HEAT DESC
    </if>
  </select>

  <select id="spotDetails" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpot">
    select sss.*,sssb.url
    from SYS_SCENIC_SPOT sss
    left join sys_scenic_spot_banner sssb
    on sss.SCENIC_SPOT_ID = sssb.spot_id
    where sss.SCENIC_SPOT_ID = #{spotId}
  </select>


</mapper>