<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysScenicSpotHeatMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotHeat" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="scenic_spot_id" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="same_day" property="sameDay" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, scenic_spot_id, same_day, total, type, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_scenic_spot_heat
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--查询最佳人气榜数据-->
  <select id="querybestPopularity" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from sys_scenic_spot_heat
    where scenic_spot_id = #{scenicSpotId,jdbcType=BIGINT} AND type = #{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_scenic_spot_heat
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotHeat" >
    insert into sys_scenic_spot_heat (id, scenic_spot_id, same_day,
                                      total, type, create_time,
                                      update_time)
    values (#{id,jdbcType=BIGINT}, #{scenicSpotId,jdbcType=BIGINT}, #{sameDay,jdbcType=INTEGER},
            #{total,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
            #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotHeat" >
    insert into sys_scenic_spot_heat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="scenicSpotId != null" >
        scenic_spot_id,
      </if>
      <if test="sameDay != null" >
        same_day,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="sameDay != null" >
        #{sameDay,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotHeat" >
    update sys_scenic_spot_heat
    <set >
      <if test="scenicSpotId != null" >
        scenic_spot_id = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="sameDay != null" >
        same_day = #{sameDay,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotHeat" >
    update sys_scenic_spot_heat
    set scenic_spot_id = #{scenicSpotId,jdbcType=BIGINT},
        same_day = #{sameDay,jdbcType=INTEGER},
        total = #{total,jdbcType=INTEGER},
        type = #{type,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateHeat" >
    update sys_scenic_spot_heat
    set same_day = 0 , update_time = NOW()

  </update>

  <select id="selectSpotAndTypeByHeat" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotHeat">
    select *
    from sys_scenic_spot_heat
    where scenic_spot_id = #{scenicSpotId,jdbcType=BIGINT} AND type = #{type,jdbcType=VARCHAR}
  </select>

  <update id="addTotal">
    update sys_scenic_spot_heat
    set total = total + 1,
    same_day = same_day + 1
    where scenic_spot_id = #{scenicSpotId}
    and type = #{type}
  </update>
</mapper>