<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysScenicSpotServiceResMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes" >
    <id column="SERVICE_ID" property="serviceId" jdbcType="BIGINT" />
    <result column="SERVICE_NAME" property="serviceName" jdbcType="VARCHAR" />
    <result column="SERVICE_NAME_PIN_YIN" property="serviceNamePinYin" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="SERVICE_GPS" property="serviceGps" jdbcType="VARCHAR" />
    <result column="SERVICE_GPS_BAI_DU" property="serviceGpsBaiDu" jdbcType="VARCHAR" />
    <result column="SERVICE_INTRODUCE" property="serviceIntroduce" jdbcType="VARCHAR" />
    <result column="SERVICE_PIC" property="servicePic" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="SERVICE_STATE" property="serviceState" jdbcType="VARCHAR"/>
    <result column="SERVICE_RADIUS" property="serviceRadius" jdbcType="VARCHAR"/>
    <result column="SERVICE_MAX_PEOPLE" property="serviceMaxPeople" jdbcType="VARCHAR"/>
    <result column="SERVICE_GPS_GAO_DE" property="serviceGpsGaoDe" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    SERVICE_ID, SERVICE_NAME, SERVICE_NAME_PIN_YIN, SERVICE_TYPE, SCENIC_SPOT_ID, SERVICE_GPS, 
    SERVICE_GPS_BAI_DU, SERVICE_INTRODUCE, SERVICE_PIC, CREATE_DATE, UPDATE_DATE, SERVICE_STATE, SERVICE_RADIUS, SERVICE_MAX_PEOPLE,SERVICE_GPS_GAO_DE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_SERVICE_RES
    where SERVICE_ID = #{serviceId,jdbcType=BIGINT}
  </select>
  <!--查询洗手间列表-->
  <select id="queryToiletList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_SERVICE_RES
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT} AND SERVICE_TYPE = 1 AND SERVICE_STATE = 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_SCENIC_SPOT_SERVICE_RES
    where SERVICE_ID = #{serviceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes" >
    insert into SYS_SCENIC_SPOT_SERVICE_RES (SERVICE_ID, SERVICE_NAME, SERVICE_NAME_PIN_YIN, 
      SERVICE_TYPE, SCENIC_SPOT_ID, SERVICE_GPS, 
      SERVICE_GPS_BAI_DU, SERVICE_INTRODUCE, SERVICE_PIC, 
      CREATE_DATE, UPDATE_DATE, SERVICE_STATE, SERVICE_RADIUS, SERVICE_MAX_PEOPLE)
    values (#{serviceId,jdbcType=BIGINT}, #{serviceName,jdbcType=VARCHAR}, #{serviceNamePinYin,jdbcType=VARCHAR}, 
      #{serviceType,jdbcType=VARCHAR}, #{scenicSpotId,jdbcType=BIGINT}, #{serviceGps,jdbcType=VARCHAR}, 
      #{serviceGpsBaiDu,jdbcType=VARCHAR}, #{serviceIntroduce,jdbcType=VARCHAR}, #{servicePic,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{serviceState,jdbcType=VARCHAR}, #{serviceRadius,jdbcType=VARCHAR},
      #{serviceMaxPeople,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes" >
    insert into SYS_SCENIC_SPOT_SERVICE_RES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        SERVICE_ID,
      </if>
      <if test="serviceName != null" >
        SERVICE_NAME,
      </if>
      <if test="serviceNamePinYin != null" >
        SERVICE_NAME_PIN_YIN,
      </if>
      <if test="serviceType != null" >
        SERVICE_TYPE,
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="serviceGps != null" >
        SERVICE_GPS,
      </if>
      <if test="serviceGpsBaiDu != null" >
        SERVICE_GPS_BAI_DU,
      </if>
      <if test="serviceIntroduce != null" >
        SERVICE_INTRODUCE,
      </if>
      <if test="servicePic != null" >
        SERVICE_PIC,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="serviceState != null">
        SERVICE_STATE,
      </if>
      <if test="serviceRadius != null">
        SERVICE_RADIUS,
      </if>
      <if test="serviceMaxPeople != null">
        SERVICE_MAX_PEOPLE,
      </if>
      <if test="serviceGpsGaoDe != null">
        SERVICE_GPS_GAO_DE
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serviceId != null" >
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="serviceName != null" >
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceNamePinYin != null" >
        #{serviceNamePinYin,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="serviceGps != null" >
        #{serviceGps,jdbcType=VARCHAR},
      </if>
      <if test="serviceGpsBaiDu != null" >
        #{serviceGpsBaiDu,jdbcType=VARCHAR},
      </if>
      <if test="serviceIntroduce != null" >
        #{serviceIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="servicePic != null" >
        #{servicePic,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="serviceState != null">
        #{serviceState,jdbcType=VARCHAR},
      </if>
      <if test="serviceRadius != null">
        #{serviceRadius,jdbcType=VARCHAR},
      </if>
      <if test="serviceMaxPeople != null">
        #{serviceMaxPeople,jdbcType=VARCHAR},
      </if>
      <if test="serviceGpsGaoDe != null">
        #{serviceGpsGaoDe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes" >
    update SYS_SCENIC_SPOT_SERVICE_RES
    <set >
      <if test="serviceName != null" >
        SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceNamePinYin != null" >
        SERVICE_NAME_PIN_YIN = #{serviceNamePinYin,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="serviceGps != null" >
        SERVICE_GPS = #{serviceGps,jdbcType=VARCHAR},
      </if>
      <if test="serviceGpsBaiDu != null" >
        SERVICE_GPS_BAI_DU = #{serviceGpsBaiDu,jdbcType=VARCHAR},
      </if>
      <if test="serviceIntroduce != null" >
        SERVICE_INTRODUCE = #{serviceIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="servicePic != null" >
        SERVICE_PIC = #{servicePic,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="serviceState != null">
        SERVICE_STATE = #{serviceState,jdbcType=VARCHAR},
      </if>
      <if test="serviceRadius != null">
        SERVICE_RADIUS = #{serviceRadius,jdbcType=VARCHAR},
      </if>
      <if test="serviceMaxPeople != null">
        SERVICE_MAX_PEOPLE = #{serviceMaxPeople,jdbcType = VARCHAR},
      </if>
      <if test="serviceGpsGaoDe != null">
        SERVICE_GPS_GAO_DE #{serviceGpsGaoDe,jdbcType = VARCHAR},
      </if>
    </set>
    where SERVICE_ID = #{serviceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes" >
    update SYS_SCENIC_SPOT_SERVICE_RES
    set SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      SERVICE_NAME_PIN_YIN = #{serviceNamePinYin,jdbcType=VARCHAR},
      SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      SERVICE_GPS = #{serviceGps,jdbcType=VARCHAR},
      SERVICE_GPS_BAI_DU = #{serviceGpsBaiDu,jdbcType=VARCHAR},
      SERVICE_INTRODUCE = #{serviceIntroduce,jdbcType=VARCHAR},
      SERVICE_PIC = #{servicePic,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      SERVICE_STATE = #{serviceState,jdbcType=VARCHAR},
      SERVICE_RADIUS = #{serviceRadius,jdbcType=VARCHAR},
      SERVICE_MAX_PEOPLE = #{serviceMaxPeople,jdbcType=VARCHAR}
    where SERVICE_ID = #{serviceId,jdbcType=BIGINT}
  </update>

  <select id="getSpotServiceResList" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes">
      select ssssr.*,sss.SCENIC_SPOT_NAME
      from SYS_SCENIC_SPOT_SERVICE_RES ssssr
      left join SYS_SCENIC_SPOT sss on ssssr.SCENIC_SPOT_ID = sss.SCENIC_SPOT_ID
      <where>
        <if test="serviceName != null and serviceName != ''">
              ssssr.SERVICE_NAME like concat('%',#{serviceName},'%')
        </if>
        <if test="scenicSpotId != null and scenicSpotId != ''">
              and ssssr.SCENIC_SPOT_ID = #{scenicSpotId}
        </if>
        <if test="spotName != null and spotName !=''">
              and sss.SCENIC_SPOT_NAME like concat('%',#{spotName},'%')
        </if>
              and SERVICE_TYPE = 1
      </where>
      order by CREATE_DATE DESC
  </select>

  <select id="getSpotIdAndServiceResId" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotServiceRes">
    select * from SYS_SCENIC_SPOT_SERVICE_RES
    where SCENIC_SPOT_ID = #{scenicSpotId}
    and SERVICE_ID = #{serviceId}
  </select>

</mapper>