<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysScenicSpotRecommendedRouteMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute" >
    <id column="ROUTE_ID" property="routeId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="ROUTE_NAME" property="routeName" jdbcType="VARCHAR" />
    <result column="ROUTE_NAME_PIN_YIN" property="routeNamePinYin" jdbcType="VARCHAR" />
    <result column="ROUTE_INTRODUCE" property="routeIntroduce" jdbcType="VARCHAR" />
    <result column="ROUTE_GPS" property="routeGps" jdbcType="VARCHAR" />
    <result column="ROUTE_GPS_BAI_DU" property="routeGpsBaiDu" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="TOTAL_KM" property="totalKm" jdbcType="VARCHAR"/>
    <result column="USE_TIME" property="useTime" jdbcType="VARCHAR"/>
    <result column="HEAT" property="heat" jdbcType="VARCHAR"/>
    <result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ROUTE_ID, SCENIC_SPOT_ID, ROUTE_NAME, ROUTE_NAME_PIN_YIN, ROUTE_INTRODUCE, ROUTE_GPS, 
    ROUTE_GPS_BAI_DU, CREATE_DATE, UPDATE_DATE,TOTAL_KM,USE_TIME,HEAT,PICTURE_URL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    where ROUTE_ID = #{routeId,jdbcType=BIGINT}
  </select>
  <!--查询景区景点路线列表-->
  <select id="queryScenicSpotRecommendedRouteList" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    where ROUTE_ID = #{routeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute" >
    insert into SYS_SCENIC_SPOT_RECOMMENDED_ROUTE (ROUTE_ID, SCENIC_SPOT_ID, ROUTE_NAME, 
      ROUTE_NAME_PIN_YIN, ROUTE_INTRODUCE, ROUTE_GPS, 
      ROUTE_GPS_BAI_DU, CREATE_DATE, UPDATE_DATE,TOTAL_KM,USE_TIME,HEAT,PICTURE_URL
      )
    values (#{routeId,jdbcType=BIGINT}, #{scenicSpotId,jdbcType=BIGINT}, #{routeName,jdbcType=VARCHAR}, 
      #{routeNamePinYin,jdbcType=VARCHAR}, #{routeIntroduce,jdbcType=VARCHAR}, #{routeGps,jdbcType=VARCHAR}, 
      #{routeGpsBaiDu,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR},
      #{totalKm,jdbcType = VARCHAR},#{useTime,jdbcType = VARCHAR},#{heat,jdbcType=VARCHAR},#{pictureUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute" >
    insert into SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="routeId != null" >
        ROUTE_ID,
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="routeName != null" >
        ROUTE_NAME,
      </if>
      <if test="routeNamePinYin != null" >
        ROUTE_NAME_PIN_YIN,
      </if>
      <if test="routeIntroduce != null" >
        ROUTE_INTRODUCE,
      </if>
      <if test="routeGps != null" >
        ROUTE_GPS,
      </if>
      <if test="routeGpsBaiDu != null" >
        ROUTE_GPS_BAI_DU,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="totalKm != null">
        TOTAL_KM,
      </if>
      <if test="useTime != null">
        USE_TIME,
      </if>
      <if test="heat != null">
        HEAT,
      </if>
      <if test="pictureUrl != null">
        PICTURE_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="routeId != null" >
        #{routeId,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="routeName != null" >
        #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="routeNamePinYin != null" >
        #{routeNamePinYin,jdbcType=VARCHAR},
      </if>
      <if test="routeIntroduce != null" >
        #{routeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="routeGps != null" >
        #{routeGps,jdbcType=VARCHAR},
      </if>
      <if test="routeGpsBaiDu != null" >
        #{routeGpsBaiDu,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="totalKm != null">
        #{totalKm,jdbcType = VARCHAR},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType = VARCHAR},
      </if>
      <if test="heat != null">
        #{heat,jdbcType = VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType = VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute" >
    update SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    <set >
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="routeName != null" >
        ROUTE_NAME = #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="routeNamePinYin != null" >
        ROUTE_NAME_PIN_YIN = #{routeNamePinYin,jdbcType=VARCHAR},
      </if>
      <if test="routeIntroduce != null" >
        ROUTE_INTRODUCE = #{routeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="routeGps != null" >
        ROUTE_GPS = #{routeGps,jdbcType=VARCHAR},
      </if>
      <if test="routeGpsBaiDu != null" >
        ROUTE_GPS_BAI_DU = #{routeGpsBaiDu,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="totalKm != null">
        TOTAL_KM = #{totalKm,jdbcType = VARCHAR},
      </if>
      <if test="useTime != null">
        USE_TIME = #{useTime,jdbcType = VARCHAR},
      </if>
      <if test="heat != null">
        HEAT = #{heat,jdbcType = VARCHAR},
      </if>
      <if test="pictureUrl != null">
        PICTURE_URL = #{pictureUrl,jdbcType = VARCHAR},
      </if>
    </set>
    where ROUTE_ID = #{routeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute" >
    update SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    set SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      ROUTE_NAME = #{routeName,jdbcType=VARCHAR},
      ROUTE_NAME_PIN_YIN = #{routeNamePinYin,jdbcType=VARCHAR},
      ROUTE_INTRODUCE = #{routeIntroduce,jdbcType=VARCHAR},
      ROUTE_GPS = #{routeGps,jdbcType=VARCHAR},
      ROUTE_GPS_BAI_DU = #{routeGpsBaiDu,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      TOTAL_KM    = #{totalKm,jdbcType=VARCHAR},
      USE_TIME   = #{useTime,jdbcType=VARCHAR},
      HEAT    = #{heat,jdbcType = VARCHAR},
      PICTURE_URL = #{pictureUrl,jdbcType = VARCHAR}
    where ROUTE_ID = #{routeId,jdbcType=BIGINT}
  </update>

  <!--获取数据列表-->
  <select id="searchRouteList" resultMap="BaseResultMap" parameterType="java.util.HashMap">
    select *
    from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    <where>
      <if test="spotId != null and spotId != ''">
        and SCENIC_SPOT_ID = #{spotId}
      </if>
    </where>
    order by heat DESC
  </select>

  <!--获取数据总条数-->
  <select id="selectTotals" resultType="java.lang.Integer" parameterType="java.util.HashMap">
    select COUNT(*)
    from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    <where>
      <if test="spotId != null and spotId != ''">
        and SCENIC_SPOT_ID = #{spotId}
      </if>
    </where>
  </select>

  <select id="getRouteInBroadcastAll" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute" parameterType="java.util.Map">
    select *
    from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    <where>
      <if test="spotId != null and spotId != ''">
        and SCENIC_SPOT_ID = #{spotId}
      </if>
    </where>
    order by heat ASC
  </select>

  <update id="addHotRouteInBroadcast">
    UPDATE  SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    SET     HEAT = HEAT + 1
    WHERE   ROUTE_ID = #{id}
  </update>

  <select id="selectByRouteGps" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute">
    select *
    from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
    where SCENIC_SPOT_ID = #{spotId}
    and  ROUTE_GPS like CONCAT('%',#{broadcastGps},'%')
  </select>


</mapper>