<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysScenicSpotBroadcastMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast" >
    <id column="BROADCAST_ID" property="broadcastId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="BROADCAST_GPS" property="broadcastGps" jdbcType="VARCHAR" />
    <result column="BROADCAST_GPS_BAI_DU" property="broadcastGpsBaiDu" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_RANGE" property="scenicSpotRange" jdbcType="VARCHAR" />
    <result column="BROADCAST_NAME" property="broadcastName" jdbcType="VARCHAR" />
    <result column="PIN_YIN_NAME" property="pinYinName" jdbcType="VARCHAR" />
    <result column="INTRODUCTION_TYPES" property="introductionTypes" jdbcType="VARCHAR" />
    <result column="NAVIGATION_TYPE" property="navigationType" jdbcType="VARCHAR" />
    <result column="BROADCAST_PRIORITY" property="broadcastPriority" jdbcType="VARCHAR" />
    <result column="SORT_TYPE" property="sortType" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="HEAT" property="heat" jdbcType="VARCHAR"/>
    <result column="IS_FEATURE" property="heat" jdbcType="VARCHAR"/>
    <result column="INTRODUCE" property="introduce" jdbcType="VARCHAR"/>
    <result column="BEAR_PEOPLE" property="bearPeople" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    BROADCAST_ID, SCENIC_SPOT_ID, BROADCAST_GPS, BROADCAST_GPS_BAI_DU, SCENIC_SPOT_RANGE, 
    BROADCAST_NAME, PIN_YIN_NAME, INTRODUCTION_TYPES, NAVIGATION_TYPE, BROADCAST_PRIORITY, 
    SORT_TYPE, CREATE_DATE, UPDATE_DATE, HEAT,IS_FEATURE,INTRODUCE,BEAR_PEOPLE
  </sql>

  <resultMap id="BaseResultMapMax" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast">
    <id column="BROADCAST_ID" property="broadcastId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="BROADCAST_GPS" property="broadcastGps" jdbcType="VARCHAR" />
    <result column="BROADCAST_GPS_BAI_DU" property="broadcastGpsBaiDu" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_RANGE" property="scenicSpotRange" jdbcType="VARCHAR" />
    <result column="BROADCAST_NAME" property="broadcastName" jdbcType="VARCHAR" />
    <result column="PIN_YIN_NAME" property="pinYinName" jdbcType="VARCHAR" />
    <result column="INTRODUCTION_TYPES" property="introductionTypes" jdbcType="VARCHAR" />
    <result column="NAVIGATION_TYPE" property="navigationType" jdbcType="VARCHAR" />
    <result column="BROADCAST_PRIORITY" property="broadcastPriority" jdbcType="VARCHAR" />
    <result column="SORT_TYPE" property="sortType" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_ADDRES" property="scenicSpotAddres" jdbcType="VARCHAR" />
    <collection property="SysScenicSpotBroadcastExtend" column="BROADCAST_ID"
                ofType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcastExtendWithBLOBs">
      <id column="BROADCAST_RES_ID" property="broadcastResId" jdbcType="BIGINT" />
      <result column="BROADCAST_ID" property="broadcastId" jdbcType="BIGINT" />
      <result column="MEDIA_RESOURCE_URL" property="mediaResourceUrl" jdbcType="VARCHAR" />
      <result column="MEDIA_TYPE" property="mediaType" jdbcType="VARCHAR" />
      <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
      <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
      <result column="BROADCAST_CONTENT" property="broadcastContent" jdbcType="LONGVARCHAR" />
      <result column="PICTURE_URL" property="pictureUrl" jdbcType="LONGVARCHAR" />
    </collection>
  </resultMap>
  <!-- 查询景点文字型资源 -->
  <select id="queryWordsScenicSpotBroadcast" resultMap="BaseResultMapMax" parameterType="java.util.HashMap" >
    SELECT * FROM
      SYS_SCENIC_SPOT_BROADCAST A
      LEFT JOIN SYS_SCENIC_SPOT_BROADCAST_EXTEND B ON A.BROADCAST_ID = B.BROADCAST_ID
      WHERE A.SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT} AND A.SORT_TYPE = 0 AND B.BROADCAST_ID IS NOT NULL
      order by  A.SORT_TYPE DESC
  </select>



  <resultMap id="BaseResultMapList" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast">
    <id column="BROADCAST_ID" property="broadcastId" jdbcType="BIGINT" />
    <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
    <result column="BROADCAST_GPS" property="broadcastGps" jdbcType="VARCHAR" />
    <result column="BROADCAST_GPS_BAI_DU" property="broadcastGpsBaiDu" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_RANGE" property="scenicSpotRange" jdbcType="VARCHAR" />
    <result column="BROADCAST_NAME" property="broadcastName" jdbcType="VARCHAR" />
    <result column="PIN_YIN_NAME" property="pinYinName" jdbcType="VARCHAR" />
    <result column="INTRODUCTION_TYPES" property="introductionTypes" jdbcType="VARCHAR" />
    <result column="NAVIGATION_TYPE" property="navigationType" jdbcType="VARCHAR" />
    <result column="BROADCAST_PRIORITY" property="broadcastPriority" jdbcType="VARCHAR" />
    <result column="SORT_TYPE" property="sortType" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
    <result column="SCENIC_SPOT_ADDRES" property="scenicSpotAddres" jdbcType="VARCHAR" />
    <result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR" />
      <collection property="rankings" column="broadcast_id"
                   ofType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicDistrictRanking">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="broadcast_id" property="broadcastId" jdbcType="BIGINT" />
        <result column="same_day" property="sameDay" jdbcType="INTEGER" />
        <result column="total" property="total" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
      </collection>
  </resultMap>

  <select id="queryWordsScenicSpotBroadcastList" resultMap="BaseResultMapList" parameterType="java.util.HashMap" >
    SELECT
      *
    FROM
      SYS_SCENIC_SPOT a
        INNER JOIN SYS_SCENIC_SPOT_BROADCAST b ON a.SCENIC_SPOT_ID = b.SCENIC_SPOT_ID
        INNER JOIN SYS_SCENIC_SPOT_BROADCAST_EXTEND d ON b.BROADCAST_ID = d.BROADCAST_ID
        LEFT JOIN sys_scenic_district_ranking c ON b.BROADCAST_ID = c.broadcast_id
        <if test="type != null and type != ''">
          AND c.type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="types != null and types != ''">
          AND c.type = #{types,jdbcType=VARCHAR}
        </if>
    WHERE
    <if test="broadcastName != null and broadcastName != '' and scenicSpotId != null and scenicSpotId != ''">
      b.SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
      AND b.BROADCAST_NAME like concat ('%',#{broadcastName},'%')
    </if>
    <if test="type != null and type != ''">
      b.SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}
       AND b.SORT_TYPE = 0
    ORDER BY
      c.update_time DESC
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_BROADCAST
    where BROADCAST_ID = #{broadcastId,jdbcType=BIGINT}
  </select>
  <!--查询停靠点列表-->
  <select id="queryScenicSpotStop" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from SYS_SCENIC_SPOT_BROADCAST
    where SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT}  AND SORT_TYPE = 1 ORDER BY CREATE_DATE
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_SCENIC_SPOT_BROADCAST
    where BROADCAST_ID = #{broadcastId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast" >
    insert into SYS_SCENIC_SPOT_BROADCAST (BROADCAST_ID, SCENIC_SPOT_ID, BROADCAST_GPS, 
      BROADCAST_GPS_BAI_DU, SCENIC_SPOT_RANGE, BROADCAST_NAME, 
      PIN_YIN_NAME, INTRODUCTION_TYPES, NAVIGATION_TYPE, 
      BROADCAST_PRIORITY, SORT_TYPE, CREATE_DATE,HEAT,IS_FEATURE,INTRODUCE,BEAR_PEOPLE
      UPDATE_DATE)
    values (#{broadcastId,jdbcType=BIGINT}, #{scenicSpotId,jdbcType=BIGINT}, #{broadcastGps,jdbcType=VARCHAR}, 
      #{broadcastGpsBaiDu,jdbcType=VARCHAR}, #{scenicSpotRange,jdbcType=VARCHAR}, #{broadcastName,jdbcType=VARCHAR}, 
      #{pinYinName,jdbcType=VARCHAR}, #{introductionTypes,jdbcType=VARCHAR}, #{navigationType,jdbcType=VARCHAR}, 
      #{broadcastPriority,jdbcType=VARCHAR}, #{sortType,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR},#{heat,jdbcType=VARCHAR},#{isFeature,jdbcType=VARCHAR},#{introduce,jdbcType=VARCHAR},
      #{bearPeople,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast" >
    insert into SYS_SCENIC_SPOT_BROADCAST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="broadcastId != null" >
        BROADCAST_ID,
      </if>
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID,
      </if>
      <if test="broadcastGps != null" >
        BROADCAST_GPS,
      </if>
      <if test="broadcastGpsBaiDu != null" >
        BROADCAST_GPS_BAI_DU,
      </if>
      <if test="scenicSpotRange != null" >
        SCENIC_SPOT_RANGE,
      </if>
      <if test="broadcastName != null" >
        BROADCAST_NAME,
      </if>
      <if test="pinYinName != null" >
        PIN_YIN_NAME,
      </if>
      <if test="introductionTypes != null" >
        INTRODUCTION_TYPES,
      </if>
      <if test="navigationType != null" >
        NAVIGATION_TYPE,
      </if>
      <if test="broadcastPriority != null" >
        BROADCAST_PRIORITY,
      </if>
      <if test="sortType != null" >
        SORT_TYPE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="HEAT != null">
        HEAT,
      </if>
      <if test="IS_FEATURE != null">
        IS_FEATURE,
      </if>
      <if test="INTRODUCE != null">
        INTRODUCE,
      </if>
      <if test="BEAR_PEOPLE != null">
        BEAR_PEOPLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="broadcastId != null" >
        #{broadcastId,jdbcType=BIGINT},
      </if>
      <if test="scenicSpotId != null" >
        #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="broadcastGps != null" >
        #{broadcastGps,jdbcType=VARCHAR},
      </if>
      <if test="broadcastGpsBaiDu != null" >
        #{broadcastGpsBaiDu,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRange != null" >
        #{scenicSpotRange,jdbcType=VARCHAR},
      </if>
      <if test="broadcastName != null" >
        #{broadcastName,jdbcType=VARCHAR},
      </if>
      <if test="pinYinName != null" >
        #{pinYinName,jdbcType=VARCHAR},
      </if>
      <if test="introductionTypes != null" >
        #{introductionTypes,jdbcType=VARCHAR},
      </if>
      <if test="navigationType != null" >
        #{navigationType,jdbcType=VARCHAR},
      </if>
      <if test="broadcastPriority != null" >
        #{broadcastPriority,jdbcType=VARCHAR},
      </if>
      <if test="sortType != null" >
        #{sortType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="heat != null">
        #{heat,jdbcType = VARCHAR},
      </if>
      <if test="isFeature != null">
        #{isFeature,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType = VARCHAR},
      </if>
      <if test="bearPeople != null">
        #{bearPeople,jdbcType = BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast" >
    update SYS_SCENIC_SPOT_BROADCAST
    <set >
      <if test="scenicSpotId != null" >
        SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      </if>
      <if test="broadcastGps != null" >
        BROADCAST_GPS = #{broadcastGps,jdbcType=VARCHAR},
      </if>
      <if test="broadcastGpsBaiDu != null" >
        BROADCAST_GPS_BAI_DU = #{broadcastGpsBaiDu,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotRange != null" >
        SCENIC_SPOT_RANGE = #{scenicSpotRange,jdbcType=VARCHAR},
      </if>
      <if test="broadcastName != null" >
        BROADCAST_NAME = #{broadcastName,jdbcType=VARCHAR},
      </if>
      <if test="pinYinName != null" >
        PIN_YIN_NAME = #{pinYinName,jdbcType=VARCHAR},
      </if>
      <if test="introductionTypes != null" >
        INTRODUCTION_TYPES = #{introductionTypes,jdbcType=VARCHAR},
      </if>
      <if test="navigationType != null" >
        NAVIGATION_TYPE = #{navigationType,jdbcType=VARCHAR},
      </if>
      <if test="broadcastPriority != null" >
        BROADCAST_PRIORITY = #{broadcastPriority,jdbcType=VARCHAR},
      </if>
      <if test="sortType != null" >
        SORT_TYPE = #{sortType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="heat  != null">
        HEAT = #{heat,jdbcType=VARCHAR},
      </if>
      <if test="isFeature != null">
        IS_FEATURE = #{isFeature ,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        INTRODUCE = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="bearPeople != null">
        BEAR_PEOPLE = #{bearPeople,jdbcType=VARCHAR},
      </if>
    </set>
    where BROADCAST_ID = #{broadcastId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast" >
    update SYS_SCENIC_SPOT_BROADCAST
    set SCENIC_SPOT_ID = #{scenicSpotId,jdbcType=BIGINT},
      BROADCAST_GPS = #{broadcastGps,jdbcType=VARCHAR},
      BROADCAST_GPS_BAI_DU = #{broadcastGpsBaiDu,jdbcType=VARCHAR},
      SCENIC_SPOT_RANGE = #{scenicSpotRange,jdbcType=VARCHAR},
      BROADCAST_NAME = #{broadcastName,jdbcType=VARCHAR},
      PIN_YIN_NAME = #{pinYinName,jdbcType=VARCHAR},
      INTRODUCTION_TYPES = #{introductionTypes,jdbcType=VARCHAR},
      NAVIGATION_TYPE = #{navigationType,jdbcType=VARCHAR},
      BROADCAST_PRIORITY = #{broadcastPriority,jdbcType=VARCHAR},
      SORT_TYPE = #{sortType,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=VARCHAR},
      HEAT = #{heat,jdbcType = VARCHAR},
      IS_FEATURE = #{isFeature,jdbcType = VARCHAR},
      INTRODUCE = #{introduce,jdbcType = VARCHAR},
      BEAR_PEOPLE = #{bearPeople,jdbcType = BIGINT}
    where BROADCAST_ID = #{broadcastId,jdbcType=BIGINT}
  </update>

  <!--获取数据总条数-->
  <select id="selectSpotByCount" resultType="java.lang.Integer">
    select COUNT(*) from SYS_SCENIC_SPOT_BROADCAST where SCENIC_SPOT_ID = #{scenicSpotId}
  </select>

  <!-- 获取景点列表-->
  <select id="getSpotBroadcastList" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast" parameterType="java.util.Map">
    select sssb.BROADCAST_ID,sssb.SCENIC_SPOT_ID,sssb.BROADCAST_GPS,sssb.BROADCAST_GPS_BAI_DU,sssb.SCENIC_SPOT_RANGE,sssb.BROADCAST_NAME,sssb.PIN_YIN_NAME,sssb.INTRODUCTION_TYPES,sssb.NAVIGATION_TYPE,
    sssb.BROADCAST_PRIORITY,sssb.SORT_TYPE,sssb.CREATE_DATE,sssb.UPDATE_DATE,sssb.HEAT,sssb.IS_FEATURE,sssb.INTRODUCE,sssb.BEAR_PEOPLE,sssbe.PICTURE_URL
    from SYS_SCENIC_SPOT_BROADCAST sssb
    left join SYS_SCENIC_SPOT_BROADCAST_EXTEND sssbe
    on sssb.BROADCAST_ID = sssbe.BROADCAST_ID
    <where>
      <if test="spotId != null and spotId !=''">
        and sssb.SCENIC_SPOT_ID = #{spotId}
      </if>
      <if test="spotName != null and spotName != ''">
        and sssb.BROADCAST_NAME like CONCAT('%',#{spotName},'%')
      </if>
        and sssb.SORT_TYPE = 0
    </where>
        <if test="sort == 1">
          order by sssb.HEAT DESC
        </if>
  </select>

  <update id="addHotSpotBroadcast">
    UPDATE  SYS_SCENIC_SPOT_BROADCAST
    SET     HEAT = HEAT + 1
    WHERE   BROADCAST_ID = #{id}
  </update>


  <select id="getSpotBroadcastGps"  resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast">
    select * from SYS_SCENIC_SPOT_BROADCAST where BROADCAST_GPS = #{s}
  </select>

</mapper>