<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysScenicSpotRouteInBroadcastMapper" >
    <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRouteInBroadcast">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="sys_scenic_spot_route_id" property="sysScenicSpotRouteId" jdbcType="BIGINT" />
        <result column="sys_scenic_spot_broadcast_id" property="sysScenicSpotBroadcastId" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
         id,sys_scenic_spot_route_id,sys_scenic_spot_broadcast_id,sort,create_time,update_time
    </sql>



    <select id="getRouteInBroadcastList" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRecommendedRoute">

        select *
        from SYS_SCENIC_SPOT_RECOMMENDED_ROUTE
        <where>
            <if test="spotId != null and spotId != ''">
               and SCENIC_SPOT_ID = #{spotId}
            </if>
        </where>
        order by heat DESC
        limit #{pageNum} , #{pageSize}

    </select>


    <select id="selectSpotRouteIdByList" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotRouteInBroadcast" parameterType="java.util.Map">
        select sssrib.*,sssb.BROADCAST_NAME as broadcastName,sssb.BROADCAST_GPS_BAI_DU broadcastGpsBaiDu,sssb.BROADCAST_GPS as broadcastGps ,sssbe.BROADCAST_CONTENT broadcastContent ,sssbe.MEDIA_RESOURCE_URL mediaResourceUrl
        from sys_scenic_spot_route_in_broadcast sssrib
        left join SYS_SCENIC_SPOT_BROADCAST sssb on  sssrib.sys_scenic_spot_broadcast_id = sssb.BROADCAST_ID
        left join SYS_SCENIC_SPOT_BROADCAST_EXTEND sssbe on sssrib.sys_scenic_spot_broadcast_id = sssbe.BROADCAST_ID
        order by sssrib.sort desc
    </select>



</mapper>