<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxzy.AppMigration.NavigationApp.dao.SysUserScenicFabulousCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="scenic_district_id" property="scenicDistrictId" jdbcType="BIGINT" />
    <result column="fabulous" property="fabulous" jdbcType="VARCHAR" />
    <result column="collection" property="collection" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, scenic_district_id, fabulous, collection, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_scenic_fabulous_collection
    where id = #{id,jdbcType=BIGINT}
  </select>


  <resultMap id="BaseResultMapMax" type="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="user_id" property="userId" jdbcType="BIGINT" />
      <result column="scenic_district_id" property="scenicDistrictId" jdbcType="BIGINT" />
      <result column="fabulous" property="fabulous" jdbcType="VARCHAR" />
      <result column="collection" property="collection" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="VARCHAR" />
      <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
      <result column="SCENIC_SPOT_NAME" property="scenicSpotName" jdbcType="VARCHAR" />
    <collection property="sysScenicSpotBroadcasts" column="scenicDistrictId"
                ofType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicSpotBroadcast">
      <id column="BROADCAST_ID" property="broadcastId" jdbcType="BIGINT" />
      <result column="SCENIC_SPOT_ID" property="scenicSpotId" jdbcType="BIGINT" />
      <result column="BROADCAST_GPS" property="broadcastGps" jdbcType="VARCHAR" />
      <result column="BROADCAST_GPS_BAI_DU" property="broadcastGpsBaiDu" jdbcType="VARCHAR" />
      <result column="SCENIC_SPOT_RANGE" property="scenicSpotRange" jdbcType="VARCHAR" />
      <result column="BROADCAST_NAME" property="broadcastName" jdbcType="VARCHAR" />
      <result column="PIN_YIN_NAME" property="pinYinName" jdbcType="VARCHAR" />
      <result column="INTRODUCTION_TYPES" property="introductionTypes" jdbcType="VARCHAR" />
      <result column="NAVIGATION_TYPE" property="navigationType" jdbcType="VARCHAR" />
      <result column="BROADCAST_PRIORITY" property="broadcastPriority" jdbcType="VARCHAR" />
      <result column="SORT_TYPE" property="sortType" jdbcType="VARCHAR" />
      <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
      <result column="UPDATE_DATE" property="updateDate" jdbcType="VARCHAR" />
      <result column="SCENIC_SPOT_ADDRES" property="scenicSpotAddres" jdbcType="VARCHAR" />
      <result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR" />
      <result column="IS_FEATURE" property="isFeature" jdbcType="VARCHAR"/>
      <result column="INTRODUCE" property="introduce" jdbcType="VARCHAR"/>
      <collection property="rankings" column="broadcastId"
                  ofType="com.jxzy.AppMigration.NavigationApp.entity.SysScenicDistrictRanking">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="broadcast_id" property="broadcastId" jdbcType="BIGINT" />
        <result column="same_day" property="sameDay" jdbcType="INTEGER" />
        <result column="total" property="total" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
      </collection>
    </collection>
  </resultMap>

  <select id="queryUserScenicCollection" resultMap="BaseResultMapMax" parameterType="java.util.HashMap" >
    SELECT
      *
    FROM
      sys_user_scenic_fabulous_collection a
        LEFT JOIN SYS_SCENIC_SPOT_BROADCAST b ON a.scenic_district_id = b.BROADCAST_ID
        LEFT JOIN SYS_SCENIC_SPOT_BROADCAST_EXTEND d ON b.BROADCAST_ID = d.BROADCAST_ID
        LEFT JOIN SYS_SCENIC_SPOT c ON b.SCENIC_SPOT_ID = c.SCENIC_SPOT_ID
        LEFT JOIN sys_scenic_district_ranking e ON a.scenic_district_id = e.broadcast_id and e.type = 2
    WHERE
      a.user_id = #{userId,jdbcType=BIGINT}
      AND a.collection = 1
    ORDER BY
      a.update_time DESC
  </select>

  <select id="queryUserScenicLike" resultMap="BaseResultMapMax" parameterType="java.util.HashMap" >
    SELECT
      *
    FROM
      sys_user_scenic_fabulous_collection a
        LEFT JOIN SYS_SCENIC_SPOT_BROADCAST b ON a.scenic_district_id = b.BROADCAST_ID
        LEFT JOIN SYS_SCENIC_SPOT_BROADCAST_EXTEND d ON b.BROADCAST_ID = d.BROADCAST_ID
        LEFT JOIN SYS_SCENIC_SPOT c ON b.SCENIC_SPOT_ID = c.SCENIC_SPOT_ID
        LEFT JOIN sys_scenic_district_ranking e ON a.scenic_district_id = e.broadcast_id and e.type = 2
    WHERE
      a.user_id = #{userId,jdbcType=BIGINT}
      AND a.fabulous = 1
    ORDER BY
      a.update_time DESC
  </select>
  <!--查询用户景点点赞或收藏-->
  <select id="queryUserFabulousCollection" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from sys_user_scenic_fabulous_collection
    where user_id = #{userId,jdbcType=BIGINT} and scenic_district_id = #{scenicDistrictId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user_scenic_fabulous_collection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection" >
    insert into sys_user_scenic_fabulous_collection (id, user_id, scenic_district_id, 
      fabulous, collection, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{scenicDistrictId,jdbcType=BIGINT}, 
      #{fabulous,jdbcType=VARCHAR}, #{collection,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection" >
    insert into sys_user_scenic_fabulous_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="scenicDistrictId != null" >
        scenic_district_id,
      </if>
      <if test="fabulous != null" >
        fabulous,
      </if>
      <if test="collection != null" >
        collection,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="scenicDistrictId != null" >
        #{scenicDistrictId,jdbcType=BIGINT},
      </if>
      <if test="fabulous != null" >
        #{fabulous,jdbcType=VARCHAR},
      </if>
      <if test="collection != null" >
        #{collection,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection" >
    update sys_user_scenic_fabulous_collection
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="scenicDistrictId != null" >
        scenic_district_id = #{scenicDistrictId,jdbcType=BIGINT},
      </if>
      <if test="fabulous != null" >
        fabulous = #{fabulous,jdbcType=VARCHAR},
      </if>
      <if test="collection != null" >
        collection = #{collection,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection" >
    update sys_user_scenic_fabulous_collection
    set user_id = #{userId,jdbcType=BIGINT},
      scenic_district_id = #{scenicDistrictId,jdbcType=BIGINT},
      fabulous = #{fabulous,jdbcType=VARCHAR},
      collection = #{collection,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getSpotIdFabulousCount" resultType="java.lang.Integer">
    select COUNT(*)
    from sys_user_scenic_fabulous_collection
    where scenic_district_id = #{broadcastId} and fabulous = 1
  </select>

  <select id="getSpotIdCollectionCount" resultType="java.lang.Integer">
    select COUNT(*)
    from sys_user_scenic_fabulous_collection
    where scenic_district_id = #{broadcastId} and collection = 1
  </select>

  <delete id="deleteByBroadcastId" >
    delete from sys_user_scenic_fabulous_collection
    where scenic_district_id = #{broadcastId}
  </delete>

  <select id="getUserScenicFabulousCollectionList" resultType="com.jxzy.AppMigration.NavigationApp.entity.SysUserScenicFabulousCollection">
    select * FROM
    (select susfc.*,sssb.BROADCAST_NAME
    from sys_user_scenic_fabulous_collection susfc
    left join SYS_SCENIC_SPOT_BROADCAST sssb on susfc.scenic_district_id = sssb.BROADCAST_ID
    where  susfc.fabulous = 1  OR  susfc.collection = 1) as susfc
    <where>
      <if test="userId !=null and userId != ''">
        susfc.user_id = #{userId}
      </if>
      <if test="id != null and id != ''">
        and susfc.scenic_district_id = #{id}
      </if>
      <if test="broadcastName != null and broadcastName != ''">
        and susfc.BROADCAST_NAME like concat('%',#{broadcastName},'%')
      </if>
      <if test="time != null and time != ''">
        and DATE(susfc.create_time)  &gt;= DATE(#{time})
      </if>
      <if test="timeEnd != null and timeEnd != ''">
        and DATE(susfc.create_time)  &lt;= DATE(#{timeEnd})
      </if>
    </where>
  </select>
</mapper>